<section class="about">
    <div class="conteiner">
        <div class="about__content--box">
            <aside class="about__content">
                <figure class="about__content__figure">
                    <img src="images/pic/icon/about_crop.png" alt="" class="about__content__figure--img">
                </figure>
                <h6 class="about__content--title">
                    Clean and Responsive
                </h6>
                <p class="about__content--content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at nibh orci.
                </p>
            </aside>
            <aside class="about__content">
                <figure class="about__content__figure">
                    <img src="images/pic/icon/about_cube.png" alt="" class="about__content__figure--img">
                </figure>
                <h6 class="about__content--title">
                    Retina Ready
                </h6>
                <p class="about__content--content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at nibh orci.
                </p>
            </aside>
            <aside class="about__content">
                <figure class="about__content__figure">
                    <img src="images/pic/icon/about_magic.png" alt="" class="about__content__figure--img">
                </figure>
                <h6 class="about__content--title">
                    Build with Bootstrap
                </h6>
                <p class="about__content--content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at nibh orci.
                </p>
            </aside>
            <aside class="about__content">
                <figure class="about__content__figure">
                    <img src="images/pic/icon/about_code-fork.png" alt="" class="about__content__figure--img">
                </figure>
                <h6 class="about__content--title">
                    Easy to Customize
                </h6>
                <p class="about__content--content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at nibh orci.
                </p>
            </aside>
            <aside class="about__content">
                <figure class="about__content__figure">
                    <img src="images/pic/icon/about_rocket.png" alt="" class="about__content__figure--img">
                </figure>
                <h6 class="about__content--title">
                    Hundreds of Icons
                </h6>
                <p class="about__content--content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at nibh orci.
                </p>
            </aside>
            <aside class="about__content">
                <figure class="about__content__figure">
                    <img src="images/pic/icon/about_database.png" alt="" class="about__content__figure--img">
                </figure>
                <h6 class="about__content--title">
                    Multiple Layout
                </h6>
                <p class="about__content--content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at nibh orci.
                </p>
            </aside>
        </div>
    </div>
</section>